USE [master]
GO
/****** Object:  Database [FinalDB]    Script Date: 18.11.2023 12:41:21 ******/
CREATE DATABASE [FinalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FinalDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FinalDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FinalDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FinalDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FinalDB]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 18.11.2023 12:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Staff] [int] NULL,
	[Company] [int] NULL,
	[Amount] [float] NULL,
 CONSTRAINT [PK_Bill] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 18.11.2023 12:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[FullName] [nvarchar](100) NULL,
	[SocialSecNumber] [nvarchar](50) NULL,
	[EIN] [nvarchar](50) NULL,
	[SocailType] [int] NULL,
	[BirthDate] [date] NULL,
	[PasSeries] [nvarchar](10) NULL,
	[PasNumber] [nvarchar](15) NULL,
	[Phone] [nvarchar](25) NULL,
	[Mail] [nvarchar](50) NULL,
	[Company] [int] NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 18.11.2023 12:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Country] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[ITN] [nvarchar](25) NULL,
	[IP] [nvarchar](15) NULL,
	[PaymentAccount] [nvarchar](25) NULL,
	[BIC] [nvarchar](25) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 18.11.2023 12:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginHistory]    Script Date: 18.11.2023 12:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[IP] [nvarchar](15) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Success] [bit] NOT NULL,
 CONSTRAINT [PK_LoginHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 18.11.2023 12:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Date] [date] NOT NULL,
	[Text] [nvarchar](4000) NOT NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 18.11.2023 12:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Status] [int] NOT NULL,
	[ExecutionTime] [int] NULL,
	[Number] [int] NULL,
	[Client] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderService]    Script Date: 18.11.2023 12:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderService](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Order] [int] NOT NULL,
	[Service] [int] NOT NULL,
	[StartTime] [datetime] NULL,
	[ExecutionTime] [int] NULL,
	[PercentProgress] [int] NULL,
	[Status] [int] NULL,
	[Staff] [int] NULL,
	[Utilizer] [int] NULL,
 CONSTRAINT [PK_OrderService_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Results]    Script Date: 18.11.2023 12:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[OrderServiceId] [int] NOT NULL,
	[Result] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Results] PRIMARY KEY CLUSTERED 
(
	[OrderServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 18.11.2023 12:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[Code] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [float] NOT NULL,
	[ExecutionPeriod] [time](7) NULL,
	[AverageDeviation] [decimal](10, 2) NULL,
	[AverageResult] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SocailType]    Script Date: 18.11.2023 12:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocailType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NULL,
 CONSTRAINT [PK_SocailType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 18.11.2023 12:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](25) NULL,
	[MiddleName] [nvarchar](25) NULL,
	[LastName] [nvarchar](25) NULL,
	[Lastenter] [date] NULL,
	[Type] [int] NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffService]    Script Date: 18.11.2023 12:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffService](
	[Staff] [int] NOT NULL,
	[Service] [int] NOT NULL,
 CONSTRAINT [PK_StaffService] PRIMARY KEY CLUSTERED 
(
	[Staff] ASC,
	[Service] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffType]    Script Date: 18.11.2023 12:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_StaffType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 18.11.2023 12:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilizer]    Script Date: 18.11.2023 12:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilizer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsBusy] [bit] NOT NULL,
	[IsResearch] [bit] NOT NULL,
 CONSTRAINT [PK_Utilizer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UtilizerServices]    Script Date: 18.11.2023 12:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UtilizerServices](
	[UtilizerId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
 CONSTRAINT [PK_UtilizerServices] PRIMARY KEY CLUSTERED 
(
	[UtilizerId] ASC,
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([Id], [Login], [Password], [FullName], [SocialSecNumber], [EIN], [SocailType], [BirthDate], [PasSeries], [PasNumber], [Phone], [Mail], [Company]) VALUES (1, NULL, NULL, N'524242', NULL, NULL, NULL, CAST(N'2023-09-30' AS Date), N'534', N'53452', N'522423', N'5235555235', NULL)
INSERT [dbo].[Client] ([Id], [Login], [Password], [FullName], [SocialSecNumber], [EIN], [SocailType], [BirthDate], [PasSeries], [PasNumber], [Phone], [Mail], [Company]) VALUES (2, NULL, NULL, N'65353', NULL, NULL, NULL, CAST(N'2023-10-05' AS Date), N'65353', N'75637564', N'846', N'5425645', NULL)
INSERT [dbo].[Client] ([Id], [Login], [Password], [FullName], [SocialSecNumber], [EIN], [SocailType], [BirthDate], [PasSeries], [PasNumber], [Phone], [Mail], [Company]) VALUES (4, NULL, NULL, N'52345', NULL, NULL, NULL, CAST(N'2023-10-07' AS Date), N'52345', N'2345', N'2345', N'2345', NULL)
GO
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([Id], [Country], [Name], [Address], [ITN], [IP], [PaymentAccount], [BIC]) VALUES (1, 1, N'Avamba', N'0536 Bunker Hill Plaza', N'2716833', N'227.113.77.41', N'553793026', N'180522995')
INSERT [dbo].[Company] ([Id], [Country], [Name], [Address], [ITN], [IP], [PaymentAccount], [BIC]) VALUES (2, 2, N'Chatterpoint', N'45 Boyd Place', N'6233619', N'203.227.211.218', N'531363170', N'629384303')
INSERT [dbo].[Company] ([Id], [Country], [Name], [Address], [ITN], [IP], [PaymentAccount], [BIC]) VALUES (3, 3, N'Zooveo', N'6 Farragut Parkway', N'3684079', N'115.243.208.173', N'860679987', N'324109181')
GO
SET IDENTITY_INSERT [dbo].[Company] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([Id], [Name]) VALUES (1, N'China')
INSERT [dbo].[Country] ([Id], [Name]) VALUES (2, N'Nigeria')
INSERT [dbo].[Country] ([Id], [Name]) VALUES (3, N'Indonesia')
GO
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[LoginHistory] ON 

INSERT [dbo].[LoginHistory] ([Id], [Login], [IP], [Date], [Success]) VALUES (0, N'1', N'1', CAST(N'2023-09-30T20:42:06.573' AS DateTime), 1)
INSERT [dbo].[LoginHistory] ([Id], [Login], [IP], [Date], [Success]) VALUES (3, N'1', N'1', CAST(N'2023-09-30T20:56:46.960' AS DateTime), 0)
INSERT [dbo].[LoginHistory] ([Id], [Login], [IP], [Date], [Success]) VALUES (7, N'1', N'192.168.3.2', CAST(N'2023-09-30T21:00:53.013' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[LoginHistory] OFF
GO
INSERT [dbo].[News] ([Id], [Title], [Date], [Text]) VALUES (1, N'Утилизация опасных отходов скидка 10%', CAST(N'2023-06-26' AS Date), N'При заключении договора на утилизацию опасных отходов – скидка 10% на разработку паспорта!')
INSERT [dbo].[News] ([Id], [Title], [Date], [Text]) VALUES (2, N'Полное экологическое сопровождение скидка 25%', CAST(N'2023-07-26' AS Date), N'Скидка 25% на полное экологическое сопровождение вашей организации.')
INSERT [dbo].[News] ([Id], [Title], [Date], [Text]) VALUES (3, N'БЕСПЛАТНАЯ консультация эколога', CAST(N'2023-06-14' AS Date), N'БЕСПЛАТНАЯ консультация эколога по предварительному расчету Категории объекта НВОС')
GO
INSERT [dbo].[Order] ([Id], [CreateDate], [StartDate], [EndDate], [Status], [ExecutionTime], [Number], [Client]) VALUES (1, CAST(N'2023-10-17T15:32:08.470' AS DateTime), NULL, NULL, 1, NULL, 1, 2)
INSERT [dbo].[Order] ([Id], [CreateDate], [StartDate], [EndDate], [Status], [ExecutionTime], [Number], [Client]) VALUES (2, CAST(N'2023-10-17T15:47:06.397' AS DateTime), NULL, NULL, 1, NULL, 2, 2)
INSERT [dbo].[Order] ([Id], [CreateDate], [StartDate], [EndDate], [Status], [ExecutionTime], [Number], [Client]) VALUES (3, CAST(N'2023-10-17T16:48:29.267' AS DateTime), NULL, NULL, 1, NULL, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[OrderService] ON 

INSERT [dbo].[OrderService] ([Id], [Order], [Service], [StartTime], [ExecutionTime], [PercentProgress], [Status], [Staff], [Utilizer]) VALUES (0, 1, 176, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[OrderService] ([Id], [Order], [Service], [StartTime], [ExecutionTime], [PercentProgress], [Status], [Staff], [Utilizer]) VALUES (1, 2, 287, CAST(N'2023-11-18T00:28:08.107' AS DateTime), 30, 100, 4, NULL, 2)
INSERT [dbo].[OrderService] ([Id], [Order], [Service], [StartTime], [ExecutionTime], [PercentProgress], [Status], [Staff], [Utilizer]) VALUES (2, 2, 258, CAST(N'2023-11-14T20:48:52.473' AS DateTime), 30, 100, 4, NULL, 2)
SET IDENTITY_INSERT [dbo].[OrderService] OFF
GO
INSERT [dbo].[Results] ([OrderServiceId], [Result]) VALUES (1, CAST(3.00 AS Decimal(10, 2)))
INSERT [dbo].[Results] ([OrderServiceId], [Result]) VALUES (2, CAST(8.64 AS Decimal(10, 2)))
INSERT [dbo].[Results] ([OrderServiceId], [Result]) VALUES (3, CAST(7.64 AS Decimal(10, 2)))
GO
INSERT [dbo].[Service] ([Code], [Name], [Price], [ExecutionPeriod], [AverageDeviation], [AverageResult]) VALUES (176, N'Утилизация сильно действующих химических препаратов', 102.85, NULL, NULL, CAST(15.00 AS Decimal(10, 2)))
INSERT [dbo].[Service] ([Code], [Name], [Price], [ExecutionPeriod], [AverageDeviation], [AverageResult]) VALUES (229, N'Выезд курьера', 341.78, NULL, NULL, CAST(14.00 AS Decimal(10, 2)))
INSERT [dbo].[Service] ([Code], [Name], [Price], [ExecutionPeriod], [AverageDeviation], [AverageResult]) VALUES (258, N'Утилизация лекарственных препаратов', 143.22, NULL, NULL, CAST(38.20 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[SocailType] ON 

INSERT [dbo].[SocailType] ([Id], [Name]) VALUES (1, N'oms')
INSERT [dbo].[SocailType] ([Id], [Name]) VALUES (2, N'dms')
SET IDENTITY_INSERT [dbo].[SocailType] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([Id], [Login], [Password], [FirstName], [MiddleName], [LastName], [Lastenter], [Type]) VALUES (401, N'chacking0', N'4tzqHdkqzo4', N'Clareta', N'', N'Hacking', CAST(N'2020-10-02' AS Date), 1)
INSERT [dbo].[Staff] ([Id], [Login], [Password], [FirstName], [MiddleName], [LastName], [Lastenter], [Type]) VALUES (402, N'nmably1', N'ukM0e6', N'Northrop', N'', N'Mably', NULL, 2)
INSERT [dbo].[Staff] ([Id], [Login], [Password], [FirstName], [MiddleName], [LastName], [Lastenter], [Type]) VALUES (403, N'frolf2', N'7QpCwac0yi', N'Fabian', N'', N'Rolf', NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
INSERT [dbo].[StaffService] ([Staff], [Service]) VALUES (401, 287)
INSERT [dbo].[StaffService] ([Staff], [Service]) VALUES (401, 557)
INSERT [dbo].[StaffService] ([Staff], [Service]) VALUES (401, 836)
GO
SET IDENTITY_INSERT [dbo].[StaffType] ON 

INSERT [dbo].[StaffType] ([Id], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[StaffType] ([Id], [Name]) VALUES (2, N'Лаборант')
INSERT [dbo].[StaffType] ([Id], [Name]) VALUES (3, N'Лаборант-исследователь')
SET IDENTITY_INSERT [dbo].[StaffType] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Id], [Name]) VALUES (1, N'Не начато')
INSERT [dbo].[Status] ([Id], [Name]) VALUES (2, N'Начато')
INSERT [dbo].[Status] ([Id], [Name]) VALUES (3, N'Завершено')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Utilizer] ON 

INSERT [dbo].[Utilizer] ([Id], [Name], [IsBusy], [IsResearch]) VALUES (2, N'Ledetect', 0, 0)
INSERT [dbo].[Utilizer] ([Id], [Name], [IsBusy], [IsResearch]) VALUES (3, N'Biorad', 0, 0)
SET IDENTITY_INSERT [dbo].[Utilizer] OFF
GO
INSERT [dbo].[UtilizerServices] ([UtilizerId], [ServiceId]) VALUES (2, 229)
INSERT [dbo].[UtilizerServices] ([UtilizerId], [ServiceId]) VALUES (2, 258)
INSERT [dbo].[UtilizerServices] ([UtilizerId], [ServiceId]) VALUES (2, 311)
GO
ALTER TABLE [dbo].[Utilizer] ADD  CONSTRAINT [DF_Utilizer_Name]  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[Utilizer] ADD  CONSTRAINT [DF_Utilizer_IsBusy]  DEFAULT ((0)) FOR [IsBusy]
GO
ALTER TABLE [dbo].[Utilizer] ADD  CONSTRAINT [DF_Utilizer_IsResearch]  DEFAULT ((0)) FOR [IsResearch]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Company] FOREIGN KEY([Company])
REFERENCES [dbo].[Company] ([Id])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Company]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Staff] FOREIGN KEY([Staff])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Staff]
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_Company] FOREIGN KEY([Company])
REFERENCES [dbo].[Company] ([Id])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_Company]
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_SocailType] FOREIGN KEY([SocailType])
REFERENCES [dbo].[SocailType] ([Id])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_SocailType]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_Country] FOREIGN KEY([Country])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_Country]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Client] FOREIGN KEY([Client])
REFERENCES [dbo].[Client] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Client]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Status] FOREIGN KEY([Status])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Status]
GO
ALTER TABLE [dbo].[OrderService]  WITH CHECK ADD  CONSTRAINT [FK_OrderService_Order] FOREIGN KEY([Order])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderService] CHECK CONSTRAINT [FK_OrderService_Order]
GO
ALTER TABLE [dbo].[OrderService]  WITH CHECK ADD  CONSTRAINT [FK_OrderService_Service] FOREIGN KEY([Service])
REFERENCES [dbo].[Service] ([Code])
GO
ALTER TABLE [dbo].[OrderService] CHECK CONSTRAINT [FK_OrderService_Service]
GO
ALTER TABLE [dbo].[OrderService]  WITH CHECK ADD  CONSTRAINT [FK_OrderService_Staff] FOREIGN KEY([Staff])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[OrderService] CHECK CONSTRAINT [FK_OrderService_Staff]
GO
ALTER TABLE [dbo].[OrderService]  WITH CHECK ADD  CONSTRAINT [FK_OrderService_Status] FOREIGN KEY([Status])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[OrderService] CHECK CONSTRAINT [FK_OrderService_Status]
GO
ALTER TABLE [dbo].[OrderService]  WITH CHECK ADD  CONSTRAINT [FK_OrderService_Utilizer] FOREIGN KEY([Utilizer])
REFERENCES [dbo].[Utilizer] ([Id])
GO
ALTER TABLE [dbo].[OrderService] CHECK CONSTRAINT [FK_OrderService_Utilizer]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK_Results_OrderService] FOREIGN KEY([OrderServiceId])
REFERENCES [dbo].[OrderService] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK_Results_OrderService]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_StaffType] FOREIGN KEY([Type])
REFERENCES [dbo].[StaffType] ([Id])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_StaffType]
GO
ALTER TABLE [dbo].[StaffService]  WITH CHECK ADD  CONSTRAINT [FK_StaffService_Service] FOREIGN KEY([Service])
REFERENCES [dbo].[Service] ([Code])
GO
ALTER TABLE [dbo].[StaffService] CHECK CONSTRAINT [FK_StaffService_Service]
GO
ALTER TABLE [dbo].[StaffService]  WITH CHECK ADD  CONSTRAINT [FK_StaffService_Staff] FOREIGN KEY([Staff])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[StaffService] CHECK CONSTRAINT [FK_StaffService_Staff]
GO
ALTER TABLE [dbo].[UtilizerServices]  WITH CHECK ADD  CONSTRAINT [FK_UtilizerServices_Service] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([Code])
GO
ALTER TABLE [dbo].[UtilizerServices] CHECK CONSTRAINT [FK_UtilizerServices_Service]
GO
ALTER TABLE [dbo].[UtilizerServices]  WITH CHECK ADD  CONSTRAINT [FK_UtilizerServices_Utilizer] FOREIGN KEY([UtilizerId])
REFERENCES [dbo].[Utilizer] ([Id])
GO
ALTER TABLE [dbo].[UtilizerServices] CHECK CONSTRAINT [FK_UtilizerServices_Utilizer]
GO
USE [master]
GO
